{
  "extends": [
    "airbnb",
    "plugin:flowtype/recommended"
  ],
  "parser": "babel-eslint",
  "plugins": ["flowtype", "mocha"],
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "mocha": true
  },
  "settings": {
    "import/parser": "babel-eslint",
    "import/resolver": {
      "babel-module": {},
      "node": {
        extensions: ['.js','.jsx']
      }
    }
  },
  "rules": {
    "linebreak-style": ["error", "windows"]
  }
}
